img {
	display: block;
	margin-top: 12.5em;
	margin-bottom: 1.75em;
}
.footer {
	width: 700px;
	height: 50px;
	background-color: #CCCCCC;
	position: absolute;
}
input {
	width: 600px;
	height: 33px;
}